<%- include('../../partials/header.ejs') %>

    <!--Page Title-->
    <section class="page-title centred extra-padding"
        style="background-image: url(assets/images/background/page-title.jpg);">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Create Account</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Create Account</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <!-- error-section -->
    <section class="error-section centred lower-padding">
        <div class="container">
            <div class="content-box">
                <h2>Sign Up Here!</h2>
            </div>
            <form method="post" action="#" id="sign-up-form" class="default-form">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <input type="text" name="username" placeholder="Your Name" required>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <input type="email" name="email" placeholder="Email address" required>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <input type="text" name="phone" placeholder="Phone" required>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <input type="password" name="passwordTwo" placeholder="Confirm Password" required>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                        <button class="theme-btn style-one" type="submit" name="submit-form">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </section>
    <!-- error-section end -->

    <%- include('../../partials/footer.ejs') %>


        </body>

        </html>