<!-- main-footer -->
<footer class="main-footer alternet-5">
    <div class="footer-upper">
        <div class="auto-container">
            <div class="upper-inner clearfix">
                <div class="text pull-left">
                    <h2>Do you want to learn about us?</h2>
                    <p>Consectetur adipisicing elit sed eiusmod tempor incididunt labore dolore magna aliqua.</p>
                </div>
                <div class="btn-box pull-right">
                    <a href="#" class="theme-btn style-one">Get In Touch Today</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo">
                                <a href="#"><img src="/assets/images/blog-cms-logo.png" alt=""></a>
                            </figure>
                            <div class="text">
                                <p>Tempor incididunt ut labore eut dolore veniam quis nostrud exercitation ullamc
                                    consequat. Duis aute irure.</p>
                            </div>
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt"></i>272/Kha/3, Taltola, Agargaon, Dhaka</li>
                                <li><i class="fas fa-envelope"></i>Email <a
                                        href="mailto:shahriar.rizvi02@gmail.com">shahriar.rizvi02@gmail.com</a></li>
                                <li><i class="fas fa-headphones"></i>Support <a href="tel:01766922253">017 66922 253</a>
                                </li>
                            </ul>
                            <ul class="social-links clearfix">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget ml-70">
                            <div class="widget-title">
                                <h4>Useful Links</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">What We Offers</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">Our Projectss</a></li>
                                    <li><a href="#">Latest News</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>What We Do</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="#">Financial Advice</a></li>
                                    <li><a href="#">Business Planning</a></li>
                                    <li><a href="#">Startup Help</a></li>
                                    <li><a href="#">Investment Strategy</a></li>
                                    <li><a href="#">Management Services</a></li>
                                    <li><a href="#">Market Research</a></li>
                                    <li><a href="#">SEO Optimization</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget newsletter-widget">
                            <div class="widget-title">
                                <h4>Newslette</h4>
                            </div>
                            <div class="widget-content">
                                <div class="text">
                                    <p>Get in your inbox the latest News</p>
                                </div>
                                <form method="post" class="newsletter-form">
                                    <div class="form-group">
                                        <i class="far fa-user"></i>
                                        <input type="text" name="name" placeholder="Your Name" required="">
                                    </div>
                                    <div class="form-group">
                                        <i class="far fa-envelope"></i>
                                        <input type="email" name="email" placeholder="Email address" required="">
                                    </div>
                                    <div class="form-group message-btn">
                                        <button type="submit">subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">
                <p>&copy; 2022 <a href="#">Shahriar Rizvi</a> - Blog CMS. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->




<!-- jequery plugins -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/validation.js"></script>
<script src="assets/js/jquery.fancybox.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/jquery.countTo.js"></script>
<script src="assets/js/scrollbar.js"></script>
<script src="assets/js/nav-tool.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/circle-progress.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="assets/js/script.js"></script>