<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader style-five">
        <div class="preloader-close">Preloader Close</div>
    </div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>
    <div class="layer layer-three"><span class="overlay"></span></div>
</div>


<!-- search-popup -->
<div id="search-popup" class="search-popup">
    <div class="close-search"><span>Close</span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here"
                            required>
                        <input type="submit" value="Search Now!" class="theme-btn style-four">
                    </fieldset>
                </div>
            </form>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Idea</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Growth</a></li>
                <li><a href="#">Plan</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- search-popup end -->


<!-- main header -->
<header class="main-header style-five">
    <div class="header-top">
        <div class="auto-container">
            <div class="top-inner clearfix">
                <div class="logo-box pull-left">
                    <figure class="logo"><a href="/"><img src="/assets/images/blog-cms-logo.png" alt=""></a></figure>
                </div>
                <div class="info-box pull-right">
                    <ul class="info-list clearfix">
                        <li>
                            <i class="flaticon-smartphone"></i>
                            <p>Call Our Support<br /><a href="tel:01766922253">0176 6922 253</a></p>
                        </li>
                        <li>
                            <i class="flaticon-compass"></i>
                            <p>272/Kha/3, Taltola, Agargaon, <br />Dhaka, Bangladesh</p>
                        </li>
                        <li>
                            <i class="flaticon-clock"></i>
                            <p>Our Working Hours <br />Sat - Thu: 10 am - 6 pm</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-lower">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="menu-area pull-left">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="#">Home</a></li>
                                <li class="dropdown"><a href="#">About</a>
                                    <ul>
                                        <li><a href="about-1.html">About Us 01</a></li>
                                        <li><a href="about-2.html">About Us 02</a></li>
                                        <li><a href="team.html">Experts Team</a></li>
                                        <li><a href="pricing.html">Our Pricing</a></li>
                                        <li><a href="error.html">Error Page</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Services</a>
                                    <ul>
                                        <li><a href="service-1.html">Service Page 01</a></li>
                                        <li><a href="service-2.html">Service Page 02</a></li>
                                        <li><a href="financial-analysis.html">Financial Analysis</a></li>
                                        <li><a href="taxation-planning.html">Taxation Planning</a></li>
                                        <li><a href="investment-trading.html">Investment Trading</a></li>
                                        <li><a href="wealth-marketing.html">Wealth Marketing</a></li>
                                        <li><a href="planning-strategies.html">Planning Strategies</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Blog</a>
                                    <ul>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="/auth/login">Login</a></li>
                                <li><a href="/auth/signup">Register</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-right-content pull-right clearfix">
                    <div class="search-btn">
                        <button type="button" class="search-toggler"><i class="flaticon-search-1"></i></button>
                    </div>
                    <div class="btn-box">
                        <a href="#" class="theme-btn style-one"><i class="far fa-calendar-alt"></i>Book
                            Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="logo-box pull-left">
                    <figure class="logo"><a href="#"><img src="/assets/images/blog-cms-logo.png" alt=""></a>
                    </figure>
                </div>
                <div class="menu-area pull-right">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->

<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="index-2.html"><img src="assets/images/blog-cms-logo.png" alt="" title=""></a>
        </div>
        <div class="menu-outer">
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        </div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <ul>
                <li>272/Kha/3, Taltola, Agargaon</li>
                <li><a href="tel:+88017669222531">+88 017 66922 253</a></li>
                <li><a href="mailto:shahriar.rizvi02@gmail.com">shahriar.rizvi02@gmail.com</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->