<%- include('../../partials/header.ejs') %>

    <!--Page Title-->
    <section class="page-title centred extra-padding"
        style="background-image: url(assets/images/background/page-title.jpg);">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Dashboard</h1>
            </div>
        </div>
    </section>
    <!--End Page Title-->



    <%- include('../../partials/footer.ejs') %>


        </body>

        </html>